files [arrows, devanagari, fontawesome6, general_punctuation, math, mathematical_operators, number_forms, phoenician, superscripts_and_subscripts, emojis_activities, emojis_animals_nature, emojis_component, emojis_flags, emojis_food_drink, emojis_objects, emojis_people_body, emojis_smileys_emotion, emojis_symbols, emojis_travel_places, emoticons]
clipboarder wl-copy
typer wtype
