[Unit]
Description=Sync mail to ~/.local/share/mail
Wants=email.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/zsh -c mailsync

[Install]
WantedBy=default.target
