* {
    background:                     #32302f;
    background-alt:                 #504945;
    foreground:                     #ebdbb2;
    border:               			#98971a;
    border-alt:               		#cc241d;
    selected:               		#98971a;
    urgent:                         #cc241d;
}
