[Desktop Entry]
Name[ar]=جرَاديَنس
Name[de]=Gradience
Name[es]=Gradience
Name[eu]=Gradience
Name[fi]=Gradience
Name[fr]=Gradience
Name[hr]=Gradience
Name[id]=Gradience
Name[it]=Gradience
Name[ko]=Gradience
Name[nl]=Gradience
Name[oc]=Gradience
Name[pl]=Gradience
Name[pt_BR]=Gradience
Name[ru]=Gradience
Name[sv]=Gradience
Name[ta]=கிரேடியன்ஸ்
Name[tr]=Gradience
Name[zh_Hans]=Gradience
Name[ro]=Gradience
Name[uk]=Gradience
Name=Gradience
Exec=/home/nitay/code/scripts/xdg-launch /usr/bin/flatpak run --branch=stable --arch=x86_64 --command=gradience com.github.GradienceTeam.Gradience
Icon=com.github.GradienceTeam.Gradience
Terminal=false
Type=Application
Categories=GTK;
StartupNotify=true
X-Flatpak=com.github.GradienceTeam.Gradience
