#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Ear Training
Exec=/home/nitay/code/personal/ear-training/EarTraining
StartupWMClass=eartraining
