[Desktop Entry]
Name[th]=แบบวาร์เดอร์
Name[sv]=Bavarder
Name[fa]=باوارده
Name[fi]=Bavarder
Name[ru]=Bavarder
Name[ta]=பவார்டர்
Name[nl]=Bavarder
Name[gl]=Bavarder
Name[es]=Bavarder
Name[fr]=Bavarder
Name[pt]=Bavarder
Name[hu]=Bavarder
Name[de]=Bavarder
Name[tr]=Bavarder
Name[pl]=Bavarder
Name[ar]=Bavarder
Name[it]=Bavarder
Name[zh_Hans]=Bavarder
Name[az]=Bavarder
Name[cs]=Bavarder
Name[uk]=Bavarder
Name[et]=Bavarder
Name=Bavarder
Exec=xdg-launch /usr/bin/flatpak run --branch=stable --arch=x86_64 --command=bavarder io.github.Bavarder.Bavarder
Icon=io.github.Bavarder.Bavarder
Terminal=false
Type=Application
Categories=GTK;
StartupNotify=true
X-Flatpak=io.github.Bavarder.Bavarder
