[Desktop Entry]
Type=Application
Name=Live Captions
Comment=Provides live captioning for desktop and microphone audio
Icon=net.sapples.LiveCaptions
Exec=xdg-launch /usr/bin/flatpak run --branch=stable --arch=x86_64 --command=livecaptions net.sapples.LiveCaptions
Terminal=false
Categories=Accessibility;GTK;Utility;
Keywords=Closed Captions;Speech to text;Subtitles;Deaf;livecaptions;closedcaptions;stt;asr;microphone;
StartupNotify=true
X-Flatpak=net.sapples.LiveCaptions
