[Desktop Entry]
Type=Application
Name=Android Keyboard (AOSP)
Exec=waydroid app launch com.android.inputmethod.latin
Icon=/home/nitay/.local/share/waydroid/data/icons/com.android.inputmethod.latin.png
X-Purism-FormFactor=Workstation;Mobile;
