[Desktop Entry]
Type=Application
Name=Settings
Exec=waydroid app launch com.android.settings
Icon=/home/nitay/.local/share/waydroid/data/icons/com.android.settings.png
X-Purism-FormFactor=Workstation;Mobile;
