[Desktop Entry]
Type=Application
Name=Files
Exec=waydroid app launch com.android.documentsui
Icon=/home/nitay/.local/share/waydroid/data/icons/com.android.documentsui.png
X-Purism-FormFactor=Workstation;Mobile;
