[Desktop Entry]
Type=Application
Name=Clock
Exec=waydroid app launch com.android.deskclock
Icon=/home/nitay/.local/share/waydroid/data/icons/com.android.deskclock.png
X-Purism-FormFactor=Workstation;Mobile;
