[Desktop Entry]
Type=Application
Name=Google Play Store
Exec=waydroid app launch com.android.vending
Icon=/home/nitay/.local/share/waydroid/data/icons/com.android.vending.png
X-Purism-FormFactor=Workstation;Mobile;
