[Desktop Entry]
Type=Application
Name=Gallery
Exec=waydroid app launch com.android.gallery3d
Icon=/home/nitay/.local/share/waydroid/data/icons/com.android.gallery3d.png
X-Purism-FormFactor=Workstation;Mobile;
