[Desktop Entry]
Type=Application
Name=Calendar
Exec=waydroid app launch org.lineageos.etar
Icon=/home/nitay/.local/share/waydroid/data/icons/org.lineageos.etar.png
X-Purism-FormFactor=Workstation;Mobile;
