[Desktop Entry]
Type=Application
Name=Recorder
Exec=waydroid app launch org.lineageos.recorder
Icon=/home/nitay/.local/share/waydroid/data/icons/org.lineageos.recorder.png
X-Purism-FormFactor=Workstation;Mobile;
