[Unit]
Description=Turn off ThinkPad mic LED at boot
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo 0 > /sys/class/leds/platform::micmute/brightness'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
